<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title</title>
    </head>
    <body>
        {{content}}
        <p>
            Loaded template: {{template}}
        </p>
    </body>
</html>
